*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-family: 'Merriweather', serif;
}

body, 
html {
  color: #114b94;
  padding: 40px;
}

.jumbotron {
  background: url('https://i.imgur.com/adGWYcx.jpg') no-repeat center center fixed;
  color: white;
  font-family: "Merriweather", serif;
  text-align: center;
}

#apparel-btn,
#home-btn,
#tourMerch-btn,
#Collector-btn,
#all-btn {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

#buttonGroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}

.font_white {
  color: white;
}


.card-body text-center{
  text-align: center;
  align-items: center;
}

#merchCards {
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
  justify-content: space-around;
}

img {
  padding-right: 15px;
  padding-left: 15px;
  width: 50px;
}

button {
  box-shadow: 2px 2px 4px #000000;
}
